.box {
    background-color: pink;
    width: 100px;
    height: 100px;
    /* box-sizing: border-box; */
    padding: 3px;
    border-width: 3px;
    border-style: dashed;
    color: black;
}