.principal {
    height: 50vh;
    background-color: pink;
    overflow: scroll;
}
div {
    text-align: center;
}
h2 {
    color:rgb(0, 255, 128);
}
a {
    background-color: red;
    border-radius: 5px;
    height: 45px;
    width: 300px;
}