<section class="principal">
    <div>
        <h1>Seccion principal</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, iusto. Neque corrupti doloremque ab dolor officiis, blanditiis repellendus magni molestias nostrum eius sunt eveniet facilis velit. Consectetur saepe illum laudantium.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, iusto. Neque corrupti doloremque ab dolor officiis, blanditiis repellendus magni molestias nostrum eius sunt eveniet facilis velit. Consectetur saepe illum laudantium.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, iusto. Neque corrupti doloremque ab dolor officiis, blanditiis repellendus magni molestias nostrum eius sunt eveniet facilis velit. Consectetur saepe illum laudantium.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, iusto. Neque corrupti doloremque ab dolor officiis, blanditiis repellendus magni molestias nostrum eius sunt eveniet facilis velit. Consectetur saepe illum laudantium.</p>
    </div>
</section>
<section class="secundary">
    <h2>Titulo</h2>
    <a href="#">Soy un Boton</a>
</section>