.container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Como hijo */
.news {
    box-sizing: border-box;
    width: 50%;
    /* height: 100%; */
    border: 3px solid purple;
}

.principal-news {
    align-items: stretch;
    width: 100%;
    order: -1;
}

/* Como padre */
.news {
    display: flex;
    flex-direction: column;
}

/* Como hijo de news */
.principal-news img {
    min-width: 700px;
}



