* {
    box-sizing: border-box;
}
.form-initial {
    display: flex;
    flex-direction: column;
}
input {
    margin: 5px 0;
}
.name {
    display: flex;
}
.input-name .lastName {
    margin-left: 30px;
}