.father {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px dashed black;
}
.name {
    color: grey;
}
.tag {
    background-color: orangered;
    padding: 2px;
    border-radius: 5px;
    color: white;
}