* {
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 960px;
}

header {
    background-color: orangered;
    flex-grow: 2;
}

.container-article {
    display: flex;
    flex-direction: row;
    flex-grow: 200;
}

article {
    background-color: blue;
    width: 60%;
    align-self: center;
}

.aside1 {
    background-color: yellowgreen;
    width: 20%;
    order: -1;


}

.aside2 {
    background-color: palevioletred;
    width: 20%;

}

footer {
    background-color: slategrey;
    flex-grow: 2;
    order: 1;
}