* {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: aqua;
    flex-grow: 1;
    /* height:15% ; */
    min-height: 55px;

}

main {
    background-color: peachpuff;
    flex-grow: 20;
}

footer {
    background-color: slategrey;
    flex-grow: 1;
    min-height: 55px;
    order: 1;
}