.body {
    border: 8px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container {
    margin-top: 106px ;

}
.author {
    font-size: 18px;
    margin-bottom: 40px;
}
.title {
    font-size: 32px;
    margin-bottom: 32px;
}
p {
    font-size: 18px;
    margin-bottom: 27px;
}
a {
    padding-top: 0 16px 8px;
    margin-right: -16px;
}
